* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    font-size: 40px;
    color: white;
}

body {
    background-color: #FF4D4D;
}

.container {
    height: 70vh;
    background-color: #3D3D3D;
}

.header {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.socialMedia {
    width: 100%;
    margin-right: 20px;
}

.socialMedia ul {
    display: flex;
    justify-content: space-around;
}

.socialMedia ul li {
    margin-right: 20px;
}

.menu__tips {
    display: none;
}

.perfil__container {
    width: 80%;
    margin: 0 auto;
    color: white;
}

.perfil__container h1 {
    max-width: 380px;
    margin: 0 auto;
    line-height: 45px;
    letter-spacing: 2px;
    font-size: 28px;
}

.perfil__container img {
    width: 40px;
    margin-left: 10px;
}

.perfil__container p {
    max-width: 380px;
    margin: 0 auto;
    padding: 10px;
    color: #c2c7c7;
    font-size: 16px;
}

.skills__container {
    /*   width: 90%;
    margin: 0 auto; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: absolute;
    top: 38vh;
}

.skills__Row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.skills {
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    opacity: .7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-js {
    margin-top: 80px;
}

.skills i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7DF1E;
    z-index: 1;
}

.me {
    grid-template-areas: "angular angular me css css";
}

.skills-angular {
    grid-area: angular;
    margin: 35px 10px 0 auto;
}

.skills-angular i {
    color: #B52E31;
}

.skills__me {
    grid-area: me;
    width: 140px;
    height: 140px;
    background-image: url('../src/me.jpeg');
    background-size: contain;
    background-repeat: none;
    background-position: center top;
    border-radius: 50%;
}

.skills-css {
    grid-area: css;
    margin: 35px auto 0 10px;
}

.skills-css i {
    color: #1572B6;
}

.skills-nodeJS {
    margin: 0 0 0 auto;
}

.skills-nodeJS i {
    color: #7DB01D;
}

.projects__container {
    width: 80%;
    margin: 0 auto;
}

.projects__container h1 {
    margin-top: 100px;
    text-align: end;
    color: white;
    font-size: 22px;
}

.project {
    width: 100%;
    height: 200px;
    background-color: yellow;
    margin: 20px 0;
}

.contact {
    position: fixed;
    right: 40px;
    bottom: 10px;
}

.contact i {
    color: #FF4D4D;
}

.skill-cssOne {
    display: none;
}

.skills-angularOne {
    display: none;
}

@media (min-width: 420px) {
    .socialMedia ul {
        display: flex;
        justify-content: space-around !important;
    }
    .perfil__container h1 {
        padding-top: 20px;
        font-size: 36px;
    }
    .perfil__container p {
        padding-top: 20px;
        font-size: 18px;
    }
    .skills-angular {
        grid-area: angular;
        margin: 35px 30px 0 auto;
    }
    .skills-css {
        grid-area: css;
        margin: 35px auto 0 30px;
    }
}

@media (min-width: 700px) {
    .container {
        width: 100%;
        min-height: 100vh !important;
        clip-path: polygon(100% 0, 0 0, 0 100%);
        background-color: #3D3D3D;
    }
    .socialMedia {
        display: none;
    }
    .menu {
        display: none;
    }
    .menu__tips {
        display: initial;
    }
    .menu__tips ul {
        display: flex;
    }
    .menu__tips ul li {
        margin-left: 60px;
    }
    .menu__tips ul li a {
        color: white;
        font-size: 22px;
    }
    .perfil__container h1 {
        margin: 0;
        padding-top: 5px;
    }
    .perfil__container p {
        width: 240px;
        margin: 0;
        padding-top: 5px;
        font-size: 16px;
    }
    .skill-cssOne {
        display: inherit;
    }
    .skills-css {
        display: none;
    }
    .skills-angularOne i {
        color: #B52E31;
    }
    .skills-angular {
        display: none;
    }
    .skills-noImportant {
        display: none;
    }
    .skills__container {
        width: 100%;
        margin: 0 auto;
        top: 10vh;
    }
    .skills__me {
        width: 200px;
        height: 200px;
    }
    .skills-angularOne {
        display: inherit;
        margin: auto 0 50px auto;
    }
    .skills-nodeJS {
        margin: 0 auto 0 40px;
    }
    .skills-js {
        margin: auto 60px 20px auto;
    }
    .skills-js i {
        color: #F7DF1E;
    }
    .skill-cssOne {
        margin: 10px auto auto 0;
    }
    .skill-cssOne i {
        color: #1572B6;
    }
    .projects__container {
        max-width: 250px;
        position: absolute;
        top: 32vh;
        right: 20px;
    }
    .projects__container h1 {
        margin-top: 0;
        text-align: end;
        color: white;
        font-size: 22px;
    }
    .project {
        width: 100%;
        height: 150px;
        background-color: yellow;
        margin: 20px 0 0 0;
    }
}

@media (min-width: 1000px) {
    .perfil__container h1 {
        max-width: 500px;
        margin: 0;
        padding-top: 5px;
        font-size: 52px;
    }
    .perfil__container p {
        width: 320px;
        margin: 0;
        padding-top: 30px;
        font-size: 21px;
    }
    .skills__container {
        width: 100%;
        margin: 0 auto;
        top: 10vh;
    }
    .skills__me {
        width: 200px;
        height: 200px;
    }
    .skills-angularOne {
        display: inherit;
        margin: auto 0 50px auto;
    }
    .skills-nodeJS {
        margin: 0 100px 0 auto;
    }
    .skills-js {
        margin: auto auto 20px 120px;
    }
    .skill-cssOne {
        margin: 10px auto auto 40px;
    }
    .projects__container {
        max-width: 350px;
        position: absolute;
        top: 30vh;
        right: 20px;
    }
    .projects__container h1 {
        margin-top: 0;
        text-align: end;
        color: white;
        font-size: 32px;
    }
    .project {
        width: 100%;
        height: 150px;
        background-color: yellow;
        margin: 20px 0 0 0;
    }
}

@media (min-width: 1400px) {
    .perfil__container h1 {
        max-width: 600px;
        margin: 0;
        padding-top: 5px;
        font-size: 62px;
    }
    .perfil__container p {
        width: 600px !important;
        margin: 0;
        padding-top: 30px;
        font-size: 25px;
    }
    .projects__container {
        max-width: 500px;
        position: absolute;
        top: 30vh;
        right: 20px;
    }
    .projects__container h1 {
        margin-top: 0;
        text-align: end;
        color: white;
        font-size: 42px;
    }
    .project {
        width: 100%;
        height: 150px;
        background-color: yellow;
        margin: 20px 0 0 0;
    }
}